<?xml version="1.0" encoding="utf-8" ?>
<HelpRedirect helpRoot="~/Help/" defaultHelpUrl="Getting_Started\Getting_Help.htm">
    <!-- Target.Web -->
    <!-- Security -->
    <Item referer="Apps/Security/Login.aspx" helpUrl="Getting_Started\Logging_In.htm"></Item>
    <Item referer="Apps/Security/ForgottenPassword.aspx" helpUrl="Getting_Started\Forgotten_Your_Password_.htm"></Item>
    <Item referer="Apps/CMS/CMSGetPage.axd" helpUrl="Getting_Started/Navigation.htm"></Item>
    <Item referer="Apps/Security/MyDetails.aspx" helpUrl="Changing_My_Details\Changing_My_Details.htm"></Item>
    <Item referer="Apps/Security/ChangePassword.aspx" helpUrl="Changing_My_Details\Changing_My_Password.htm"></Item>
    <Item referer="Apps/Security/Admin/UserSelect.aspx" helpUrl="Administration\Security\Users.htm"></Item>
    <Item referer="Apps/Security/Admin/UserList.aspx" helpUrl="Administration\Security\Users.htm"></Item>
    <Item referer="Apps/Security/Admin/UserEdit.aspx" helpUrl="Administration\Security\Users.htm"></Item>
    <Item referer="Apps/Security/Admin/UserClone.aspx" helpUrl="Administration\Security\Clone_My_Account.htm"></Item>
    <Item referer="Apps/Security/Admin/UserActivate.aspx" helpUrl="Administration\Security\Activate_New_Users.htm"></Item>
    <Item referer="Apps/Security/Admin/AccountPolicy.aspx" helpUrl="Administration\Security\Account_Policy.htm"></Item>
    <Item referer="Apps/Security/Admin/PasswordExceptions.aspx" helpUrl="Administration\Security\Manage_Password_Exceptions.htm"></Item>
    <Item referer="Apps/Security/Admin/ManageLogins.aspx" helpUrl="Administration\Security\Manage_Logins.htm"></Item>
    <Item referer="Apps/Security/Admin/RoleList.aspx" helpUrl="Abacus_Intranet/Administration/Security/Roles.htm"></Item>
    
    <!-- Messaging -->
    <Item referer="Apps/Msg/ListConvs.aspx" helpUrl="Messaging\Viewing_My_Conversations.htm"></Item>
    <Item referer="Apps/Msg/ViewConv.aspx" helpUrl="Messaging\Viewing_a_Conversation.htm"></Item>
    <Item referer="Apps/Msg/ReplyTo.aspx" helpUrl="Messaging\Replying_to_a_Message.htm"></Item>
    <Item referer="Apps/Msg/NewConv.aspx" helpUrl="Messaging\Starting_a_Conversation.htm"></Item>
    <Item referer="Apps/Msg/Admin/ManageDistLists.aspx" helpUrl="Administration\Messaging\Distribution_Lists.htm"></Item>
    
    <!-- Amendment Requests -->
    <Item referer="Apps/AmendReq/ListAmendReq.aspx" helpUrl="Amendment_Requests\Viewing_My_Requests.htm"></Item>
    <Item referer="Apps/AmendReq/ViewAmendReq.aspx" helpUrl="Amendment_Requests\View_a_Request.htm"></Item>
    <Item referer="Apps/AmendReq/Admin/ProcessAmendReq.aspx" helpUrl="Administration\Amendment_Requests\Processing_a_Request.htm"></Item>
    <Item referer="Apps/AmendReq/Admin/ManageEditableFields.aspx" helpUrl="Administration\Amendment_Requests\Managing_Editable_Fields.htm"></Item>
    <Item referer="Apps/AmendReq/Admin/ChangeEditableFieldSettings.aspx" helpUrl="Administration\Amendment_Requests\Managing_Editable_Fields.htm"></Item>

	<!-- Target.Abacus.Intranet -->
	<!-- Document Types -->
	<Item referer="AbacusWeb/Apps/Documents/PrintQueueBatches.aspx" helpUrl="Abacus_Intranet/Documents/Documents/Print_Queue_Batches.htm"></Item>
	<Item referer="AbacusWeb/Apps/Documents/PrintQueue.aspx" helpUrl="Abacus_Intranet/Documents/Documents/Print_Queue.htm"></Item>
	<Item referer="AbacusWeb/Apps/Documents/DocumentTypes.aspx" helpUrl="Abacus_Intranet/Documents/Reference_Data/document_types.htm"></Item>
	<Item referer="AbacusWeb/Apps/Documents/DocumentPrinters.aspx" helpUrl="Abacus_Intranet/Documents/Reference_Data/Document_Printers.htm"></Item>	

	<!-- Target.Abacus.Intranet -->
	<!-- Service Users -->
	<Item referer="AbacusWeb/Apps/ServiceUsers/Enquiry/List.aspx" helpUrl="Abacus_Intranet/Service_Users/Service_Users/Service_User_Enquiry.htm"></Item>
	<Item referer="AbacusWeb/Apps/ServiceUsers/Enquiry/Edit.aspx" helpUrl="Abacus_Intranet/Service_Users/Service_Users/Service_User_Enquiry.htm"></Item>
	<Item referer="AbacusWeb/Apps/SDS/IndicativeBudgetEnquiry.aspx" helpUrl="Abacus_Intranet/Service_Users/Self_Directed_Support/Indicative_Budget_Enquiry.htm"></Item>
	<Item referer="AbacusWeb/Apps/SDS/IndicativeBudget.aspx" helpUrl="Abacus_Intranet/Service_Users/Self_Directed_Support/Indicative_Budget_Enquiry.htm"></Item>
	<Item referer="AbacusWeb/Apps/ServiceUsers/SpendPlans/List.aspx" helpUrl="Abacus_Intranet/Service_Users/Self_Directed_Support/Spend_Plans/Spend_Plans.htm"></Item>
	<Item referer="AbacusWeb/Apps/ServiceUsers/SpendPlans/Edit.aspx" helpUrl="Abacus_Intranet/Service_Users/Self_Directed_Support/Spend_Plans/Creating_a_New_Spend_Plan.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/ServiceUsers/List.aspx" helpUrl="Abacus_Intranet/Service_Users/Self_Directed_Support/Service_User_Budget_Periods.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/ServiceUsers/ServiceUserBudgetPeriods.aspx" helpUrl="Abacus_Intranet/Service_Users/Self_Directed_Support/Service_User_Budget_Periods.htm"></Item>
	<Item referer="AbacusWeb/Apps/Jobs/CreateNew.aspx" helpUrl="Abacus_Intranet/Administration/Job_Service/Create_New_Job.htm"></Item>
	<Item referer="AbacusWeb/Apps/Notes/NoteCategories.aspx" helpUrl="Abacus_Intranet/Service_Users/Reference_Data/Note_Categories.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/ServiceUsers/SpendPlanEndReasons.aspx" helpUrl="Abacus_Intranet/Service_Users/Reference_Data/Spend_Plan_End_Reasons.htm"></Item>

	<!-- Target.Abacus.Intranet -->
	<!-- Commitments -->
	<Item referer="AbacusWeb/Apps/CommissionedService/List.aspx" helpUrl="Abacus_Intranet/Commitments/Services/Commissioned_Service/Commissioned_Service.htm"></Item>
	<Item referer="AbacusWeb/Apps/Dom/svcOrders/Edit.aspx" helpUrl="Abacus_Intranet/Commitments/Services/Commissioned_Service/Creating_a_new_Non-Residential_Order.htm"></Item>
	<Item referer="AbacusWeb/Apps/CommissionedService/Suspensions.aspx" helpUrl="Abacus_Intranet/Commitments/Services/Commissioned_Service_Suspensions.htm"></Item>
	<Item referer="AbacusWeb/Apps/CommissionedService/EditSuspension.aspx" helpUrl="Abacus_Intranet/Commitments/Services/Commissioned_Service_Suspensions.htm"></Item>
	<Item referer="AbacusWeb/Apps/SDS/DPContracts/List.aspx" helpUrl="Abacus_Intranet/Commitments/Services/Direct_Payment_Contracts/Direct_Payment_Contracts.htm"></Item>
	<Item referer="AbacusWeb/Apps/Sds/DPContracts/Edit.aspx" helpUrl="Abacus_Intranet/Commitments/Services/Direct_Payment_Contracts/Creating_a_new_Direct_Payment_Contract.htm"></Item>
	<Item referer="AbacusWeb/Apps/Sds/DPContracts/Terminate.aspx" helpUrl="Abacus_Intranet/Commitments/Services/Direct_Payment_Contracts/Terminating_a_Direct_Payment_Contract.htm"></Item>
	<Item referer="AbacusWeb/Apps/Sds/DPContracts/Reinstate.aspx" helpUrl="Abacus_Intranet/Commitments/Services/Direct_Payment_Contracts/Reinstating_a_Direct_Payment_Contract.htm"></Item>
	<Item referer="AbacusWeb/Apps/Sds/DPPayment/Create.aspx" helpUrl="Abacus_Intranet/Commitments/Services/Direct_Payment_Contracts/Create_Direct_Payments.htm"></Item>
	<Item referer="AbacusWeb/Apps/SDS/BudgetCategory.aspx" helpUrl="Abacus_Intranet/Commitments/Reference_Data/Budget_Categories.htm"></Item>
	<Item referer="AbacusWeb/Apps/SDS/BudgetCategoryGroup.aspx" helpUrl="Abacus_Intranet/Commitments/Reference_Data/Budget_Category_Groups.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/ContractEndReasons.aspx" helpUrl="Abacus_Intranet/Commitments/Reference_Data/Contract_End_Reasons.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/ContractGroups.aspx" helpUrl="Abacus_Intranet/Commitments/Reference_Data/Contract_Groups.htm"></Item>
	<Item referer="AbacusWeb/Apps/SDS/PersonalBudgetPercentageCharged.aspx" helpUrl="Abacus_Intranet/Commitments/Reference_Data/Personal_Budget___Charged.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/ProjectCodes.aspx" helpUrl="Abacus_Intranet/Commitments/Reference_Data/Project_Codes.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/ServiceOrderEndReasons.aspx" helpUrl="Abacus_Intranet/Commitments/Reference_Data/Service_Order_End_Reasons.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/ServiceOrderSuspensionReasons.aspx" helpUrl="Abacus_Intranet/Commitments/Reference_Data/Service_Order_Suspension_Reasons.htm"></Item>

	<!-- Target.Abacus.Intranet -->
	<!-- Actual Service -->
	<Item referer="AbacusWeb/Apps/Actuals/DayCare/List.aspx" helpUrl="Abacus_Intranet/Actual_Service/Attendance_Registers/Day_Care.htm"></Item>
	<Item referer="AbacusWeb/Apps/Actuals/DayCare/NewRegister.aspx" helpUrl="Abacus_Intranet/Actual_Service/Attendance_Registers/Create_a_new_Day_Care_Register.htm"></Item>
	<Item referer="AbacusWeb/Apps/Actuals/DayCare/Edit.aspx" helpUrl="Abacus_Intranet/Actual_Service/Attendance_Registers/Editing_Day_Care_Registers.htm"></Item>

	<!-- Target.Abacus.Intranet -->
	<!-- Income -->
	<Item referer="AbacusWeb/Apps/Sds/SdsContributionMonitorEnquiry.aspx" helpUrl="Abacus_Intranet/Income/Contributions/SDS_Contribution_Monitor.htm"></Item>
	<Item referer="AbacusWeb/Apps/General/DebtorInvoices/List.aspx" helpUrl="Abacus_Intranet/Income/Debtor_Invoices/Debtor_Invoices.htm"></Item>
	<Item referer="AbacusWeb/Apps/General/DebtorInvoices/ListBatch.aspx" helpUrl="Abacus_Intranet/Income/Debtor_Invoices/Debtor_Invoice_Batches.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/AssessmentBandRates.aspx" helpUrl="Abacus_Intranet/Income/Reference_Data/Assessment_Band_Rates.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/AssessmentBands.aspx" helpUrl="Abacus_Intranet/Income/Reference_Data/Assessment_Bands.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/AnnualParameters/BenefitRates.aspx" helpUrl="Abacus_Intranet/Income/Reference_Data/Benefit_Rates.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/AnnualParameters/NonResidentialIsAllowanceComps.aspx" helpUrl="Abacus_Intranet/Income/Reference_Data/Non_Residential_I_S_Allowance_Components.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/AnnualParameters/NonResidentialIsAllowanceRates.aspx" helpUrl="Abacus_Intranet/Income/Reference_Data/Non_Residential_I_S_Allowance_Rates.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/AnnualParameters/NonResidentialParameters.aspx" helpUrl="Abacus_Intranet/Income/Reference_Data/Non_Residential_Parameters.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/AnnualParameters/OutgoingMaxAmounts.aspx" helpUrl="Abacus_Intranet/Income/Reference_Data/Outgoing_Maximum_Amounts.htm"></Item>
	<Item referer="AbacusWeb/Apps/General/DebtorInvoices/CreateBatch.aspx" helpUrl="Abacus_Intranet/Income/Debtor_Invoices/Debtor_Invoices.htm"></Item>


	<!-- Target.Abacus.Intranet -->
	<!-- Payments -->
	<Item referer="AbacusWeb/Apps/Dom/Contracts/List.aspx" helpUrl="Abacus_Intranet/Payments/Contracts/Provider_Contracts.htm"></Item>
	<Item referer="AbacusWeb/Apps/Dom/Contracts/Edit.aspx" helpUrl="Abacus_Intranet/Payments/Contracts/Creating_a_New_Contract.htm"></Item>
	<Item referer="AbacusWeb/Apps/CreditorPayments/Batches/List.aspx" helpUrl="Abacus_Intranet/Payments/Creditor_Payments/Creditor_Payment_Batches.htm"></Item>
	<Item referer="AbacusWeb/Apps/CreditorPayments/List.aspx" helpUrl="Abacus_Intranet/Payments/Creditor_Payments/Domiciliary_Provider_Invoices.htm"></Item>
	<Item referer="AbacusWeb/Apps/Dom/ProviderInvoices/Edit.aspx" helpUrl="Abacus_Intranet/Payments/Creditor_Payments/Manual_Domiciliary_Provider_Invoices.htm"></Item>
	<Item referer="AbacusWeb/Apps/CreditorPayments/Authorise.aspx" helpUrl="Abacus_Intranet/Payments/Creditor_Payments/Authorise_Provider_Invoices.htm"></Item>
	<Item referer="AbacusWeb/Apps/CreditorPayments/Suspensions.aspx" helpUrl="Abacus_Intranet/Payments/Creditor_Payments/Suspend___Un-suspend_Provider_Invoices.htm"></Item>
	<Item referer="AbacusWeb/Apps/CreditorPayments/ViewCreditor.aspx" helpUrl="Abacus_Intranet/Administration/System_Settings/System_Settings/View_Creditor_Screen.htm"></Item>
	<Item referer="AbacusWeb/Apps/Dom/ProviderInvoices/InvoicedVisits.aspx" helpUrl="Abacus_Intranet/Payments/Creditor_Payments/Invoiced_Visits.htm"></Item>
	<Item referer="AbacusWeb/Apps/Sds/DPPayment/Create.aspx" helpUrl="Abacus_Intranet/Payments/Administration/Create_Direct_Payments.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/ManualPayments.aspx" helpUrl="Abacus_Intranet/Payments/Administration/Manual_Payments.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/EnterManualPayment.aspx" helpUrl="Abacus_Intranet/Payments/Administration/Manual_Payments.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/CloseWeek.aspx" helpUrl="Abacus_Intranet/Payments/Administration/Close_Week.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/ReOpenWeek.aspx" helpUrl="Abacus_Intranet/Payments/Administration/Re-opened_Weeks.htm"></Item>
	<Item referer="AbacusWeb/Apps/Sds/BudgetHolders.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Budget_Holders.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/DayCategories.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Day_Categories.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/EnhancedRateDays.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Enhanced_Rate_Days.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/ExpenditureAccount.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Expenditure_Accounts.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/ManAmendIndGroups.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Manually_Amended_Indicators.htm"></Item>
	<Item referer="AbacusWeb/Apps/Notes/NoteCategories.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Note_Categories.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/OtherFundingOrganization.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Other_Funding_Organisations.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/RateCategoryEnquiry.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Rate_Categories.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/RateFrameworks.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Rate_Framewoks.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/ServiceGroups.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Service_Groups.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/ServiceOutcomes.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Service_Outcomes.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/ServiceTypes.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Service_Types.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/TimeBandGroups.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Time_Bands.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/UnitsOfMeasure.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Units_of_Measure.htm"></Item>
	<Item referer="AbacusWeb/Apps/Admin/Dom/VisitCodeGroups.aspx" helpUrl="Abacus_Intranet/Payments/Reference_Data/Visit_Codes.htm"></Item>

	<!-- Target.Abacus.Intranet -->
	<!-- Administration -->
	<Item referer="AbacusWeb/Apps/Admin/Licences/Edit.aspx" helpUrl="Abacus_Intranet/Administration/System_Settings/Licences.htm"></Item>
	<Item referer="Apps/ApplicationSystemSettings/Admin/SettingsList.aspx" helpUrl="Abacus_Intranet/Administration/System_Settings/System_Settings/System_Settings.htm"></Item>
	<Item referer="AbacusWeb/Apps/Jobs/Default.aspx" helpUrl="Abacus_Intranet/Administration/Job_Service/View_Jobs.htm"></Item>
	<Item referer="AbacusWeb/Apps/Jobs/JobSchedules.aspx" helpUrl="Abacus_Intranet/Administration/Job_Service/Job_Schedules.htm"></Item>
	<Item referer="AbacusWeb/Apps/Jobs/FileWatcher.aspx" helpUrl="Abacus_Intranet/Administration/Job_Service/File_Watcher.htm"></Item>
	<Item referer="AbacusWeb/Apps/Jobs/EmailNotifications.aspx" helpUrl="Abacus_Intranet/Administration/Job_Service/Email_Notifications.htm"></Item>
	<Item referer="AbacusWeb/Apps/Jobs/JobStepInputDefaults.aspx" helpUrl="Abacus_Intranet/Administration/Job_Service/Job_Step_Inputs.htm"></Item>
	<Item referer="Apps/CMS/Admin/Default.aspx" helpUrl="Abacus_Intranet/Administration/Miscellaneous/CMS.htm"></Item>
	<Item referer="Apps/EmailSender/Admin/Default.aspx" helpUrl="Abacus_Intranet/Administration/Miscellaneous/Email_Sender.htm"></Item>
	<Item referer="Apps/SavedWizardSelections/List.aspx" helpUrl="Abacus_Intranet/Administration/Miscellaneous/Saved_Wizard_Selections.htm"></Item>


	<!-- Target.Abacus.Extranet -->
    <!-- Residential -->
    <Item referer="AbacusExtranet/Apps/Res/Payments/PaymentEnquiry.aspx" helpUrl="Abacus_Extranet\Residential_Care\Payments\Payment_Enquiry.htm"></Item>
    <Item referer="AbacusExtranet/Apps/Res/Payments/SUPaymentEnquiry.aspx" helpUrl="Abacus_Extranet\Residential_Care\Payments\Service_User_Payment_Enquiry.htm"></Item>
    <Item referer="AbacusExtranet/Apps/Res/SUEnquiry.aspx" helpUrl="Abacus_Extranet\Residential_Care\Service_User_Enquiry.htm"></Item>
    <Item referer="AbacusExtranet/Apps/Res/ViewServiceUser.aspx" helpUrl="Abacus_Extranet\Residential_Care\View_Service_User.htm"></Item>
    <Item referer="AbacusExtranet/Apps/Res/OccupancyEnquiry.aspx" helpUrl="Abacus_Extranet\Residential_Care\Occupancy_Enquiry.htm"></Item>


    <!-- Domiciliary Post B162-->
    <Item referer="AbacusExtranet/Apps/Dom/ServiceDeliveryFile/ServiceDeliveryFileEnquiry.aspx" helpUrl="Abacus_Extranet/Payments/Service_Delivery_Files/Service_Delivery_File_Enquiry.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ServiceDeliveryFile/UploadServiceDeliveryFile.aspx" helpUrl="Abacus_Extranet/Payments/Service_Delivery_Files/Upload_Service_Delivery_File.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ServiceDeliveryFile/ViewServiceDeliveryFile.aspx" helpUrl="Abacus_Extranet/Payments/Service_Delivery_Files/View_Service_Delivery_File.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ServiceDeliveryFile/ServiceDeliveryFilePaymentSchedule.aspx" helpUrl="Abacus_Extranet/Payments/Service_Delivery_Files/View_Service_Delivery_File.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/PaymentSchedules/PaymentSchedulesEnquiry.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Payment_Schedules.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/PaymentSchedules/PaymentSchedules.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Payment_Schedules_screen.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProformaInvoice/ViewInvoices.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Pro_Forma_Invoices/Pro_Forma_Invoices.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/PaymentSchedules/clientSelector.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Pro_Forma_Invoices/Manually_Adding_Pro_Forma_Invoices.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProformaInvoice/ManualEnterInvoice.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Pro_Forma_Invoices/Manually_Adding_Pro_Forma_Invoices.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProformaInvoice/ManualEnquiry.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Pro_Forma_Invoices/Manually_Adding_Pro_Forma_Invoices.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProformaInvoice/ViewInvoiceLines.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Pro_Forma_Invoices/Pro_Forma_Invoices.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProformaInvoice/ViewInvoiceCostedVisits.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Pro_Forma_Invoices/Pro_Forma_Invoices.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProformaInvoice/ViewInvoiceVisitDetails.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Pro_Forma_Invoices/Pro_Forma_Invoices.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProformaInvoice/ViewInvoiceVisitComponents.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Pro_Forma_Invoices/Pro_Forma_Invoices.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProviderInvoice/DomProviderInvoiceList.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Provider_Invoices/Provider_Invoices.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProviderInvoice/ViewInvoiceLines.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Provider_Invoices/Provider_Invoices.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProviderInvoice/ViewInvoiceCostedVisits.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Provider_Invoices/Provider_Invoices.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProviderInvoice/ViewInvoiceVisitDetails.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Provider_Invoices/Provider_Invoices.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProviderInvoice/ViewAmendment.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Provider_Invoices/Visit_Amendments.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProviderInvoice/ViewInvoiceVisitComponents.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Provider_Invoices/Provider_Invoices.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProviderInvoice/VisitAmendmentRequestList.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Unprocessed_Visit_Amendment_Requests/Unprocessed_Visit_Amendment_Request.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProviderInvoice/ViewInvoicedVisit.aspx" helpUrl="Abacus_Extranet/Payments/Payment_Schedules/Unprocessed_Visit_Amendment_Requests/Unprocessed_Visit_Amendment_Request.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProviderInvoice/InvoiceEnquiry.aspx" helpUrl="Abacus_Extranet/Payments/Service_User_Payments/Service_User_Payments.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProviderInvoice/InvoicedVisitsEnquiry.aspx" helpUrl="Abacus_Extranet/Payments/Visit_Amendments/Invoiced_Visits.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ProviderInvoice/VisitAmendReqEnquiry.aspx" helpUrl="Abacus_Extranet/Payments/Visit_Amendments/Visit_Amendment_Requests.htm" />
    <Item referer="AbacusExtranet/Apps/Dom/ReferenceData/DurationClaimedRounding.aspx" helpUrl="Abacus_Extranet/Payments/Reference_Data/Duration_Claimed_Rounding.htm" />



    <!-- Target.SP.Web -->
    <!-- Providers/Services/Properties -->
    <Item referer="SPWeb/Apps/ListServices.aspx" helpUrl="Supporting_People\Providers_and_Services\Finding_Services.htm"></Item>
    <Item referer="SPWeb/Apps/ViewProvider.aspx" helpUrl="Supporting_People\Providers_and_Services\Viewing_Provider_Details.htm"></Item>
    <Item referer="SPWeb/Apps/ViewService.aspx" helpUrl="Supporting_People\Providers_and_Services\Viewing_Service_Details.htm"></Item>
    <Item referer="SPWeb/Apps/ViewProperty.aspx" helpUrl="Supporting_People\Providers_and_Services\Viewing_Property_Details.htm"></Item>
    <Item referer="SPWeb/Apps/OccupancyEnq.aspx" helpUrl="Supporting_People\Providers_and_Services\Viewing_Property_Occupancy.htm"></Item>
    <Item referer="SPWeb/Apps/ViewServiceUser.aspx" helpUrl="Supporting_People\Providers_and_Services\Viewing_Service_User_Details.htm"></Item>
    <Item referer="SPWeb/Apps/ListSubsidies/ListSubsidies.aspx" helpUrl="Supporting_People\Subsidies\Finding_Subsidies.htm"></Item>
    <Item referer="SPWeb/Apps/ListSubsidies/ViewSubsidy.aspx" helpUrl="Supporting_People\Subsidies\Viewing_Subsidy_Details.htm"></Item>
    <Item referer="SPWeb/Apps/ListSubsidies/EndSubsidy.aspx" helpUrl="Supporting_People\Subsidies\Ending_a_Subsidy.htm"></Item>
    <!-- SU Notifs -->
    <Item referer="SPWeb/Apps/SUNotif/ListSUNotif.aspx" helpUrl="Supporting_People\Service_User_Notifications\Viewing_My_Notifications.htm"></Item>
    <Item referer="SPWeb/Apps/SUNotif/NewSUNotif.aspx" helpUrl="Supporting_People\Service_User_Notifications\New_Notifications.htm"></Item>
    <Item referer="SPWeb/Apps/SUNotif/Admin/ProcessSUNotif.aspx" helpUrl="Administration\Supporting_People\Service_User_Notifications\Processing_a_Notification.htm"></Item>
    <!-- Payments -->
    <Item referer="SPWeb/Apps/Payments/PaymentEnquiry.aspx" helpUrl="Supporting_People\Payments\Payment_Enquiry.htm"></Item>
    <Item referer="SPWeb/Apps/Payments/SUPaymentEnquiry.aspx" helpUrl="Supporting_People\Payments\Service_User_Payment_Enquiry.htm"></Item>
    <Item referer="SPWeb/Apps/Payments/PaymentInterface.aspx" helpUrl="Supporting_People\Payments\Payment_Interface.htm"></Item>
    <!-- PI Returns -->
    <Item referer="SPWeb/Apps/PIReturns/SubmitNewPIReturn.aspx" helpUrl="Supporting_People\PI_Returns\Submit_a_New_PI_Return.htm"></Item>
    <Item referer="SPWeb/Apps/PIReturns/ListSubmittedPIReturns.aspx" helpUrl="Supporting_People\PI_Returns\Submitted_PI_Returns.htm"></Item>
    <Item referer="SPWeb/Apps/PIReturns/PISubmissionStatusEnquiry.aspx" helpUrl="Supporting_People\PI_Returns\PI_Submission_Status.htm"></Item>

</HelpRedirect>
