<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="Apps.CMS.FreeTextBox.InsertHtmlMenu" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="secureWebPages" type="Target.Library.Web.HttpModules.SecureWebPages.SecureWebPageSectionHandler, Target.Library.Web" allowDefinition="MachineToApplication" allowLocation="false" />
    <sectionGroup name="slickUpload">
      <section name="uploadParser" type="Krystalware.SlickUpload.Configuration.NameValueConfigurationSectionHandler, Krystalware.SlickUpload" />
      <section name="uploadStreamProvider" type="Krystalware.SlickUpload.Configuration.NameValueConfigurationSectionHandler, Krystalware.SlickUpload" />
      <section name="statusManager" type="Krystalware.SlickUpload.Configuration.StatusManagerConfigurationSectionHandler, Krystalware.SlickUpload" />
    </sectionGroup>
    <section name="browserCheck" type="Target.Library.Web.Configuration.BrowserCheckConfiguration.BrowserCheckConfigurationSection, Target.Library.Web" />
    <sectionGroup name="ajaxNet">
      <section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler" requirePermission="false" restartOnExternalChanges="true" />
      <section name="aspCompatUrls" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <section name="csrfSettings" type="Idunno.AntiCsrf.Configuration.CsrfSettings, Idunno.AntiCsrf" />
    <sectionGroup name="pageCompression">
      <section name="settings" type="Target.Web.Apps.PageCompressionConfigSectionHandler, Target.Web.Apps" />
      <section name="exceptions" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <section name="reportServer" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <!-- Abacus database -->
    <add name="Abacus" providerName="System.Data.SqlClient" connectionString="data source=TS-PC-023\SQL2012;initial catalog=RED;User ID=AbacusUser;Password=rack;Connect Timeout=30;Persist Security Info=true;" />
  </connectionStrings>
  <appSettings>
    <!-- GLOBAL/TARGET WEB SETTINGS -->
    <!-- site ID -->
    <add key="SiteID" value="TRO" />
    <!-- test system ? (True or False) -->
    <add key="TestSystem" value="False" />
    <!-- the current application (SPWeb = 1, AbacusIntranet = 2, AbacusExtranet = 3) -->
    <add key="CurrentApplication" value="2" />
    <!-- configuration for the chart control's built-in HTTP handler that is used for the default method of rendering charts as images -->
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/TempChartImages/;" />
  </appSettings>
  <!-- SSRS report server settings -->
  <reportServer>
    <!-- the SSRS report server web service base URL (without a trailing forward slash), e.g. http://server/ReportServer -->
    <add key="BaseUrl" value="http://ts-pc-023:81" />
    <!-- the  base folder path under which the reports are located (must start and end with a forward slash), e.g. /Folder/Subfolder/ -->
    <add key="BasePath" value="/reportserver/" />
    <!-- the timeout to wait for server communication (default of 300000 milliseconds = 5 minutes) -->
    <add key="TimeOut" value="300000" />
    <!-- the user used to connect to the report server -->
    <add key="UserName" value="AbacusUser" />
    <add key="UserPassword" value="rack" />
    <!-- The web service uri to call when rendering reports -->
    <add key="ServiceUri" value="http://ts-pc-023:81/reportserver/ReportExecution2005.asmx" />
  </reportServer>
  <!-- CMS FreeTextBox editor InsertHTML menu items (HTML in the value attribute should be escaped, e.g. < characters should be &lt;) -->
  <Apps.CMS.FreeTextBox.InsertHtmlMenu />
  <!-- SlickUpload configuration -->
  <slickUpload>
    <uploadStreamProvider provider="SqlClient" connectionStringName="Abacus" table="WebFileStoreTempUpload" keyField="ID" dataField="Data" fileNameField="Filename" criteriaMethod="Identity" />
  </slickUpload>
  <ajaxNet>
    <ajaxSettings>
      <oldStyle>
        <noUtcTime />
      </oldStyle>
    </ajaxSettings>
    <aspCompatUrls>
      <!-- the list of AjaxPro web service calls that need to be executed on an STA thread (i.e. those that invoke VB COM components) -->
      <add key="AmendmentRequests" value="ajaxpro/Target.Web.Apps.AmendReq.WebSvc.AmendmentRequests" />
      <add key="SdsTransactions" value="ajaxpro/Target.Abacus.Web.Apps.WebSvc.SdsTransactions" />
      <add key="proformaInvoices" value="ajaxpro/Target.Abacus.Extranet.Apps.WebSvc.DomProfomaInvoice" />
      <add key="providerInvoices" value="ajaxpro/Target.Abacus.Extranet.Apps.WebSvc.DomProviderInvoice" />
      <add key="serviceOrders" value="ajaxpro/Target.Abacus.Extranet.Apps.WebSvc.GenericServiceOrder" />
      <add key="providerInvoicesLib" value="ajaxpro/Target.Abacus.Library.DomProviderInvoice.Services.DomProviderInvoicesService" />
      <add key="creditorPaymentsLib" value="ajaxpro/Target.Abacus.Library.CreditorPayments.Services.CreditorPaymentsService" />
    </aspCompatUrls>
  </ajaxNet>
  <!--
  WEB PAGE SECURITY
    This section will redirect any matching pages to the HTTPS protocol for SSL security
    and, if needed, redirect any non-matching pages (or pages matching an entry marked secure="false") 
    to the HTTP protocol to remove the security and encryption.

    Set secureWebPages mode="On", "RemoteOnly" or "LocalOnly" to enable web page security; 
    "Off" to disable (default = "On").
    
    "On": Security is enabled and all requests are monitored.
    "RemoteOnly": Only requests from remote clients are monitored.
    "LocalOnly": Only requests from the local server are monitored.
    "Off": No requests are monitored.
    
    Set encryptedUri to a specific URI to indicate where to redirect to when the module decides that 
    security is needed. Likewise, set unencryptedUri for times the module decides that security is
    not needed.
    
    Set maintainPath="False" to prevent the module from maintaining the current path
    when redirecting to the specified host paths (default = "True").
    
    Set secureWebPages warningBypassMode="AlwaysBypass" to always bypass security warnings;
    "NeverBypass" to never bypass the warnings (default = "BypassWithQueryParam").
    
    "AlwaysBypass": Always bypass security warnings when switching to an unencrypted page.
    "BypassWithQueryParam": Only bypass security warnings when switching to an unencrypted page if the 
                proper query parameter is present.
    "NeverBypass": Never bypass security warnings when switching to an unencrypted page.
    
    Set bypassQueryParamName to the name of a query parameter that will indicate to the module to bypass
    any security warning if warningBypassMode="BypassWithQueryParam" (default = "BypassSecurityWarning").
    
    - Add <directory> tags for each directory to secure.
    - Add <file> tags for each file to secure.
    - Both tags expect a "path" attribute to the directory or file that should be evaluated.
      Specify "/" as the directory path in order to denote the application root (not the site root).
    - Both tags may include a "secure" attribute indicating whether or not to secure the 
      directory or file (default = "True"). Possible values are "True" to force security, 
      "False" to force insecurity and "Ignore" to ignore the file or directory and do nothing.
    - <directory> tags may include a "recurse" attribute. If "True", all files in any sub-directories
      are included (default = "False").
  -->
  <secureWebPages mode="Off" warningBypassMode="AlwaysBypass">
    <file path="Apps/Security/Login.aspx" />
    <file path="Apps/Security/ChangePassword.aspx" />
    <file path="Apps/Security/ForgottenPassword.aspx" />
    <file path="Apps/Security/MyDetails.aspx" />
  </secureWebPages>
  <!-- 
  BROWSER CHECK
  
  "enabled" - enable/disable browser checking (True|False)
  "notSupportedUrl" - page to display when a non-supported browser is detected
  "allowNotSupported" - allow/disallow non-supported browsers from continuing (True|False)
  "method" - how to record that the check has been performed (currently the only valid option is Session)
  
  add one or more "browser" tags - a definition of an allowed browser, e.g.
    <browser>
      <name method="Equals|Contains|StartsWith|EndsWith" value="IE" description="Microsoft Internet Explorer" />
      <os method="Equals|Contains|StartsWith|EndsWith" value="Windows" description="Microsoft Windows" />
      <version lower="6" upper="*" description="6 and above" />
    </browser>
    
    a value of * means no limit/anything
    -->
  <browserCheck enabled="true" notSupportedUrl="~/Library/Errors/BrowserCheck.aspx" allowNotSupported="true" method="Cookie">
    <applications>
      <application key="AbacusIntranet">
        <browsers>
          <browser key="InternetExplorer8and9and10and11">
            <name method="Equals" value="IE" description="Microsoft Internet Explorer" />
            <version lower="8" upper="11" description="8, 9, 10 and 11" />
          </browser>

        </browsers>
      </application>
      <application key="AbacusExtranet">
        <browsers>
          <browser key="InternetExplorer8and9and10and11">
            <name method="Equals" value="IE" description="Microsoft Internet Explorer" />
            <version lower="8" upper="11" description="8, 9, 10 and 11" />
          </browser>
        </browsers>
      </application>
    </applications>
  </browserCheck>
  <!--
    Name                       Purpose
    ================            ====================================================================================================
    cookieName                   Specifies the name of the cookie used to hold the anti-CSRF token. This defaults to __CSRFCOOKIE.
    formfieldName               Specifies the name of the form field used to hold the anti-CSRF token This defatults to __CSRFTOKEN.
    detectionResult             This may be either RaiseException, which throws exceptions on a potential CSRF attack 
                                or Redirect which will redirect to the URL specified in the errorPage setting. 
                                You must set a URL in the errorPage setting if you choose Redirect. This defaults to RaiseException.
    errorPage                   A page name to redirect to if the detectionResult is set to Redirect.
    tokenGenerationFrequency    Specifies how often the CSRF token is regenerated, PerSession or PerRequest. This default to PerSession.
    -->
  <csrfSettings cookieName="__TOKEN" formFieldName="__TOKEN" detectionResult="Redirect" errorPage="~/Library/Errors/BadRequest.aspx" tokenGenerationFrequency="PerSession" />
  <!--
    Name                       Purpose
    ================            ====================================================================================================
    settings mode               On|Off|AllOn|AllOff
                                Whether page compression is "AllOn" for all pages or "AllOff" for all pages.
                                Or "On" or "Off" by default, with the exception of the listed "exceptions" pages.
    add key/value pairs         key=virtual url to the aspx; value=On|Off
                                Only used when mode=On|Off (i.e. not AllOn|AllOff).
                                Turns compression "On" or "Off" for specific pages. Used to negate the global "mode" setting for specific pages.
                                i.e. if mode=Off, the listed pages with "On" will still be compressed.
                                i.e. if mode=On, the listed pages with "Off" will not be compressed.
    -->
  <pageCompression>
    <settings mode="On" />
    <exceptions>
      <add key="~/Apps/Reports/Viewer.aspx" value="Off" />
    </exceptions>
  </pageCompression>
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation debug="true" defaultLanguage="vb" targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
      <assemblies>
        <remove assembly="Microsoft.VisualStudio.Web.PageInspector.Loader,&#xD;&#xA;                      Version=1.0.0.0, Culture=neutral,&#xD;&#xA;                      PublicKeyToken=b03f5f7f11d50a3a"

                                                      />
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Library/Errors/DisplayError.aspx">
      <error statusCode="404" redirect="~/Library/Errors/404.aspx" />
    </customErrors>
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Forms">
      <forms name="targetweb.targetsys.co.uk" loginUrl="~/Apps/Security/Login.aspx" requireSSL="false" timeout="20" />
    </authentication>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <deny users="?" />
      <!-- deny unauthenticated users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="StateServer" stateConnectionString="tcpip=TS-SVR-SQL01:42424" stateNetworkTimeout="3" sqlConnectionString="data source=TS-SVR-SQL01;User ID=AbacusUser;Password=rack;" cookieless="false" timeout="20" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />
    <!-- HTTP MODULES -->
    <httpModules>
      <add name="SecureWebPage" type="Target.Library.Web.HttpModules.SecureWebPages.SecureWebPageModule, Target.Library.Web" />
      <add name="SlickUploadModule" type="Krystalware.SlickUpload.HttpUploadModule, Krystalware.SlickUpload" />
      <add name="XHtmlModule" type="Target.Library.Web.HttpModules.XHtmlModule, Target.Library.Web" />
      <add name="BrowserCheck" type="Target.Library.Web.HttpModules.BrowserCheck.BrowserCheckModule, Target.Library.Web" />
      <add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf" />
    </httpModules>
    <!--  HTTP HANDLERS -->
    <httpHandlers>
      <add path="FtbWebResource.axd" verb="GET" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" />
      <add path="ModalDialogWrapper.axd" verb="GET" type="Target.Library.Web.HttpHandlers.ModalDialogWrapperHandler, Target.Library.Web" />
      <add path="FileStoreGetFile.axd" verb="GET" type="Target.Web.Apps.FileStore.HttpHandlers.GetFileHandler, Target.Web" />
      <add path="FileStoreGetFileUploadProgress.axd" verb="GET" type="Target.Web.Apps.FileStore.HttpHandlers.GetFileUploadProgressHandler, Target.Web" />
      <add path="CMSGetPage.axd" verb="GET" type="Target.Web.Apps.CMS.HttpHandlers.GetPageHandler, Target.Web" />
      <add path="ajaxpro/*.ashx" verb="POST,GET" type="Target.Library.Web.HttpHandlers.AjaxProHandlerFactory,Target.Library.Web" />
      <add path="HelpRedirect.axd" verb="GET" type="Target.Web.Apps.Help.HttpHandlers.HelpRedirect, Target.Web" />
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Documents/DocumentDownloadHandler.axd" verb="GET" type="Target.Web.Apps.Documents.DocumentDownloadHandler, Target.Web" />
      <add path="Session/KeepSessionAliveHandler.axd" verb="GET" type="Target.Library.Web.HttpHandlers.KeepSessionAliveHandler, Target.Library.Web" />
      <add path="Selectors/SelectorExportHandler.axd" verb="POST" type="Target.Abacus.Library.Selectors.HttpHandlers.SelectorExportHandler, Target.Abacus.Library" />
      <add path="GenericFileStore/GetFile.axd" verb="GET" type="Target.Abacus.Library.GenericFileStore.HttpHandlers.GetFileHandler, Target.Abacus.Library" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <!-- HTTP REQUEST SIZE LIMIT (in Kb) -->
    <httpRuntime maxRequestLength="51200" executionTimeout="300" enableVersionHeader="false" requestValidationMode="2.0" />
    <!-- enable view state by default -->
    <pages masterPageFile="~/Default.master" enableViewState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" theme="Standard" styleSheetTheme="Standard" enableViewStateMac="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <xhtmlConformance mode="Strict" />
    <caching>
      <sqlCacheDependency enabled="true">
        <databases>
          <add name="Abacus" connectionStringName="Abacus" pollTime="1000" />
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
  <!-- IIS 7 support -->
  <system.webServer>
    <modules>
      <add name="SecureWebPage" type="Target.Library.Web.HttpModules.SecureWebPages.SecureWebPageModule, Target.Library.Web" preCondition="managedHandler" />
      <add name="SlickUploadModule" type="Krystalware.SlickUpload.HttpUploadModule, Krystalware.SlickUpload" preCondition="managedHandler" />
      <add name="BrowserCheck" type="Target.Library.Web.HttpModules.BrowserCheck.BrowserCheckModule, Target.Library.Web" preCondition="managedHandler" />
      <add name="XHtmlModule" type="Target.Library.Web.HttpModules.XHtmlModule, Target.Library.Web" preCondition="managedHandler" />
      <add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf" />
    </modules>
    <handlers>
      <add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*_AppService.axd_*" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="ajaxpro/*.ashx_POST,GET" path="ajaxpro/*.ashx" verb="POST,GET" type="Target.Library.Web.HttpHandlers.AjaxProHandlerFactory, Target.Library.Web" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="CMSGetPage.axd_GET" path="CMSGetPage.axd" verb="GET" type="Target.Web.Apps.CMS.HttpHandlers.GetPageHandler, Target.Web" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="FileStoreGetFileUploadProgress.axd_GET" path="FileStoreGetFileUploadProgress.axd" verb="GET" type="Target.Web.Apps.FileStore.HttpHandlers.GetFileUploadProgressHandler, Target.Web" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="FileStoreGetFile.axd_GET" path="FileStoreGetFile.axd" verb="GET" type="Target.Web.Apps.FileStore.HttpHandlers.GetFileHandler, Target.Web" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="ModalDialogWrapper.axd_GET" path="ModalDialogWrapper.axd" verb="GET" type="Target.Library.Web.HttpHandlers.ModalDialogWrapperHandler, Target.Library.Web" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="FtbWebResource.axd_GET" path="FtbWebResource.axd" verb="GET" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="HelpRedirect.axd_GET" path="HelpRedirect.axd" verb="GET" type="Target.Web.Apps.Help.HttpHandlers.HelpRedirect, Target.Web" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <!-- File Download Handler (based on repository) -->
      <add name="Documents_DocumentDownloadHandler.axd_GET" path="Documents/DocumentDownloadHandler.axd" verb="GET" type="Target.Web.Apps.Documents.DocumentDownloadHandler, Target.Web" preCondition="integratedMode,runtimeVersionv2.0" />
      <!-- Keep session alive handler -->
      <add name="Session_KeepSessionAliveHandler.axd_GET" path="Session/KeepSessionAliveHandler.axd" verb="GET" type="Target.Library.Web.HttpHandlers.KeepSessionAliveHandler, Target.Library.Web" preCondition="integratedMode,runtimeVersionv2.0" />
      <!-- Selector Export handler -->
      <add name="Selectors_SelectorExportHandler.axd_GET" path="Selectors/SelectorExportHandler.axd" verb="GET" type="Target.Abacus.Library.Selectors.HttpHandlers.SelectorExportHandler, Target.Abacus.Library" preCondition="integratedMode,runtimeVersionv2.0" />
      <!-- Generic File Store Handler -->
      <add name="GenericFileStore_GetFile.axd_GET" path="GenericFileStore/GetFile.axd" verb="GET" type="Target.Abacus.Library.GenericFileStore.HttpHandlers.GetFileHandler, Target.Abacus.Library" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2072576000" />
      </requestFiltering>
    </security>
        <tracing>
            <traceFailedRequests>
                <remove path="*" />
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="404,401,500" />
                </add>
            </traceFailedRequests>
        </tracing>
  </system.webServer>
  <!-- OVERRIDE CERTAIN PAGES TO ALLOW ACCESS -->
  <!-- security pages -->
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Apps/Security/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Apps/Security/Logout.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Apps/Security/ForgottenPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Apps/Security/ForgottenPassword.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Apps/Security/ActivateAccount.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Apps/Security/ResetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- help -->
  <location path="HelpRedirect.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- accessibility -->
  <location path="Accessibility.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- errors -->
  <location path="Library/Errors">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- static files -->
  <location path="Help">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Library/Controls">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Library/Css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Library/Javascript">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
    <system.serviceModel>
        <extensions>
          <behaviorExtensions>
            <add name="serviceClientRequestLoggingBehavior" type="Target.Abacus.Library.ServiceClients.Logging.ServiceClientBehaviorExtensionElement, Target.Abacus.Library" />
          </behaviorExtensions>
        </extensions>
        <behaviors>
          <endpointBehaviors>
            <behavior name="serviceClientBehavior">
              <serviceClientRequestLoggingBehavior />
            </behavior>
          </endpointBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServicesImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="WebServicesImplPortBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="basicHttpEquivalent">
                    <security enableUnsecuredResponse="true" authenticationMode="UserNameOverTransport">
                        <secureConversationBootstrap />
                    </security>
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://194.106.156.193:443/CHSWS/webservices" binding="customBinding" bindingConfiguration="basicHttpEquivalent" contract="BedsCapita.WebServices" name="WebServicesImplPort" behaviorConfiguration="serviceClientBehavior" />
        </client>
    </system.serviceModel>
</configuration>