/* Style only stylesheet to hold colours, fonts, etc.  Any layout styles should go in Layout.css or site specific derivative */
/* standard tags */
html, body { font-family: Verdana, Arial, sans-serif; background-color: #ffffff; color: #000000; }
a{ background-color: Transparent; text-decoration: none; color: #0034b2; font-weight: bold; }
a:hover { background-color: Transparent; text-decoration: underline; color: #ff9933; cursor: pointer; }
caption { font-size: 0.75em; font-style: italic; }
caption div.caption { float:left;padding-top:0.65em; }
caption div.mruList { float:right; }
h1 { background-color: #ffffff;	color: #6487DB;	font-size: 1.75em; }
h2 { background-color: #ffffff;	color: #77ADE4;	font-size: 1.50em; }
h3 { background-color: #ffffff;	color: #5B5B5B;	font-size: 1.25em; }
h4 { background-color: #ffffff;	color: #808080;	font-size: 0.99em; }
hr { background-color: #ffffff;	color: #6487DB; border-color: #6487DB; border-style: solid; border-top-width: 1px; height: 1px; }
input { font-size: 100%; }
select { font-size: 100%; }
textarea { font-family: Arial, Verdana, sans-serif; font-size: 100%; }

/* custom, tag-specific classes */

a.transBg:hover { background-color: Transparent; }
a.disabled { background-color: Transparent;	color: #bba8ac; text-decoration: none; cursor:pointer; }
tr.highlightedRow { background-color: #FFFFCC;}
span.currentPage { font-weight:bold; color:#ff9933; }
input.flashedInput { color:#ff0000; border:solid 2px #ff0000; }
button.link {cursor: pointer; background-color: Transparent; text-decoration: none; color: #0034b2; font-weight: bold; }
button.link:hover span { background-color: Transparent; text-decoration: underline; color: #ff9933; }

/* tree view */
div.treeView span.treeViewNode { cursor: pointer; } 
div.treeView span.treeViewNodeSelected { cursor: pointer; background-color: #316ac5; color: #ffffff; }
/* asp.net TreeView */
aspTreeView_Node, a.aspTreeView_Node { color:#000000; font-weight:normal; text-decoration:none; }
aspTreeView_SelectedNode, a.aspTreeView_SelectedNode { border:solid 1px silver; background-color:#CCCCCC;  }
aspTreeView_HoverNode, a.aspTreeView_HoverNode { border:solid 1px grey; background-color:Silver; }
/* list table 
table.listTable th { background-color: #6487DB; color: #ffffff;	font-weight: bold; }
table.listTable th a { background-color: transparent; color: #ffffff; text-decoration: none; font-weight: bold; }
table.listTable th a:hover { background-color: transparent; color: #ffffff; text-decoration: underline; }
table.listTable th a:focus { border-style: none; }
table.listTable td { border-bottom-style: solid; border-bottom-color: #6487DB; }*/
/* file upload */
div.fileUploadProgress span.title { color: #6487DB; font-size: 1.75em; }
div.fileUploadProgress span.titleError { color: #FF0000; font-size: 1.75em; }
/* checked list box */
div.checkedListBox { border-style: solid; border-color: #6487DB; }
a.checkedListBoxLink { font-size: 0.80em; }
/* custom dialogs 
div.dialogBox #dialogTitle {
	background-color: #6487DB; color: #FFFFFF; font-weight: bold;
	border-top-style: outset; border-top-color: #6487DB; border-left-style: outset; border-left-color: #6487DB; 
	border-bottom-style: outset; border-bottom-color: #6487DB; border-right-style: outset; border-right-color: #6487DB;
} */
div.dialogBox #dialogContent {
	background-color: #FFFFFF; color: #000000; 
	border-left-style: outset; border-left-color: #6487DB; border-right-style: outset; border-right-color: #6487DB;
}
div.dialogBox #dialogButtons { 
	background-color: #FFFFFF; color: #000000; 
	border-left-style: outset; border-left-color: #6487DB; border-right-style: outset; border-right-color: #6487DB; 
	border-bottom-style: outset; border-bottom-color: #6487DB;
}
/* progress bar */
div.progressBarContainer { border-style: solid;	border-color: #b6cefb; background-color: #FFFFFF; }
div.progressBarFill { background-color: #00ff00; color: #000000; }
/* stepped progress bar */
div.steppedProgress { border-top-style:solid;border-top-color:Silver;border-bottom-style:solid;border-bottom-color:Silver; }
div.steppedProgressFilled { background-color:#80ff80; }
/* MRU list */
select.mruList { font-size:1.25em; font-weight:bold; background-color:#6487DB; color:#ffffff; border:solid 1px #b6cefb; }
/* saved wizard selecitons */
select.savedWizardSelections { font-size:0.9em; }
/* collapsible panel */
span.colPanel a.hlnkEmpty {	cursor: pointer; background-color: #ffffff; text-decoration: none; color: #BDBDBD; font-weight: bold; }
span.colPanel a.hlnkEmpty:hover { background-color: #ffffff; text-decoration: underline; color: #ff9933; }
/* span.colPanel div.con { background-color:#F0F3FC; } */
span.colPanel fieldset.fs a, a:hover { background-color:transparent; }

/* custom, tag-generic classes */
.errorText { background-color: #ffffff;	color: #FF0000;	font-weight: bold; }
.warningText { background-color: #ffffff; color: #ff9933; font-weight: bold; }
.borderless {border: none;background-color:white;color: #ff9933; font-weight: bold; width:34pt}
.redText { background-color: #ffffff; color: #FF0000; }
.clickable { cursor: pointer; }
.hidden { display: none; }
.bold { font-weight: bold; }
.bluebg { background-color: #0000ff; color: #ffffff; }
.greenbg { background-color: #00ff00; color: #000000; }
.lightgreenbg { background-color: #99ff99; color: #000000; }
.orangebg { background-color: #ff9205; color: #000000; }
.lightorangebg { background-color: #ffb757; color: #000000; }
.yellowbg { background-color: #ffe405; color: #000000; }
.redbg { background-color: #ff0000; color: #ffffff; }
.disabled { background-color: Transparent;	color: #bba8ac; }
.flashedText { color: #FF0000; text-decoration:underline; }
.boxedLabel { border : solid 1px #6487DB; text-align : left; }
.transbg {background-color:transparent; }

/* AjaxToolkit Style Overrides */
.ajax__tab_header, .ajax__tab_body { font-size:100%!important; }
.ajax__calendar_container { z-index:1000; }

/* application specific tags */
/* messaging */
.msgConvSubject { background-color: #ffffff; color: #5B5B5B; font-size: 1.50em; }
.msgConvLabel { background-color: #ffffff; color: #5B5B5B; font-size: 0.8em; }
span.msgRecipient { text-decoration: underline; }
td.msgRead { background: url(../../Images/readmail.gif) no-repeat left; }
tr.msgUnread { background-color: #FFFFCC; color: #000000; }
td.msgUnread { background: #FFFFCC url(../../Images/unreadmail.gif) no-repeat left; }
tr.msgUnread a { background-color: #FFFFCC; }
tr.msgUnread a:hover { background-color: #FFFFCC; }

