<?xml version="1.0"?>
<configuration>
  <system.web>
    <!--  HTTP HANDLERS -->
    <httpHandlers>
      <add verb="GET" path="GetSystemLogo.axd" type="Target.Abacus.Extranet.Library.HttpHandlers.GetSystemLogoHandler, Target.Abacus.Extranet"/>
    </httpHandlers>
    <compilation targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" 
          masterPageFile="~/Default.Master"  />
  </system.web>
  <!-- IIS 7 support -->
  <system.webServer>
    <handlers>
      <add name="GetSystemLogo.axd_GET" path="GetSystemLogo.axd" verb="GET" type="Target.Abacus.Extranet.Library.HttpHandlers.GetSystemLogoHandler, Target.Abacus.Extranet" preCondition="integratedMode,runtimeVersionv2.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <!-- OVERRIDE CERTAIN PAGES TO ALLOW ACCESS -->
  <!-- static files -->
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Custom">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>