<?xml version="1.0"?>
<configuration>
  <system.web>
    <!--  HTTP HANDLERS -->
    <httpHandlers>
      <add verb="GET" path="GenericFileStore/GetFile.axd" type="Target.Abacus.Library.GenericFileStore.HttpHandlers.GetFileHandler, Target.Abacus.Library"/>
      <add verb="GET" path="Apps/Reports/Charting/GetChart.axd" type="Target.Abacus.Web.Apps.Reports.Charting.ReportChartHandler, Target.Abacus.Web"/>
      <!-- File Download Handler (based on repository) -->
      <!--
            <add verb="GET" path="Documents/DocumentDownloadHandler.axd" type="Target.Abacus.Web.Apps.Documents.DocumentDownloadHandler, Target.Abacus.Web"/>-->
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type = "Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpHandlers>
    <compilation targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"
            masterPageFile="~/Default.Master"  />
  </system.web>
  <!-- IIS 7 support -->
  <system.webServer>
    <handlers>
      <!-- File Download Handler (based on repository) -->
      <!--
            <add name="Documents_DocumentDownloadHandler.axd_GET" path="Documents/DocumentDownloadHandler.axd" verb="GET" type="Target.Abacus.Web.Apps.Documents.DocumentDownloadHandler, Target.Abacus.Web" preCondition="integratedMode,runtimeVersionv2.0" />-->
      <add name="Apps_Reports_Charting_GetChart.axd_GET" path="Apps/Reports/Charting/GetChart.axd" verb="GET" type="Target.Abacus.Web.Apps.Reports.Charting.ReportChartHandler, Target.Abacus.Web" preCondition="integratedMode,runtimeVersionv2.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <!-- OVERRIDE CERTAIN PAGES TO ALLOW ACCESS -->
  <!-- about screen -->
  <location path="Apps/Admin/About/Info.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- errors -->
  <location path="Library/Errors">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- static files -->
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Library/Javascript">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- report charts -->
  <location path="Apps/Reports/Charting/GetChart.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>