/* Style only stylesheet to hold colours, fonts, etc.  Any layout styles should go in Layout.css or site specific derivative */

/* id-ed tag classes */
/*#headerContainer { background-color: #688adc; }
@media screen { 
    #headerLeft { background-color: #F1F1F1; color: #000000;  }
    #headerRight { background-color: #F1F1F1; color: #000000; }
}*/





