if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[vwListSPService]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[vwListSPService]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW dbo.vwListSPService
AS
SELECT S.ID AS ServiceID, S.Reference, S.Name, S.ServiceDescription AS 'Description', ST.[Value] AS Type, P.Name AS 'Provider'
FROM dbo.SPService S INNER JOIN dbo.SPServiceType ST ON ST.ID = S.ServiceTypeID
INNER JOIN SPProvider P ON P.ID = S.ProviderID


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

exec sp_addextendedproperty N'MS_Description', N'FetchListFilter', N'user', N'dbo', N'view', N'vwListSPService', N'column', N'ServiceID'
GO





/****** Object:  Stored Procedure [dbo].spxvwListSPService_FetchList    Script Date: 23 October 2006 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[spxvwListSPService_FetchList]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[spxvwListSPService_FetchList]
GO


SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO
------------------------------------------------------------------------------------------------------------------------
-- Date Created: 23/10/2006 09:31:23
-- Created By:   Generated by CodeSmith
-- Do not modify this code manually as it will be overwritten the next time the code is generated.
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[spxvwListSPService_FetchList]
	@ServiceID int = NULL
AS

SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	[ServiceID],
	[Reference],
	[Name],
	[Description],
	[Type],
	[Provider]
FROM
	[dbo].[vwListSPService]
WHERE
	(@ServiceID IS NULL OR (@ServiceID IS NOT NULL AND [dbo].[vwListSPService].[ServiceID] = @ServiceID))
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT EXECUTE ON [dbo].[spxvwListSPService_FetchList] TO [public]
GO


